<section class="w-75 mx-auto shadow rounded p-4 my-3 bg-main-light">
    <h1 class="my-3">Login Now :</h1>

    <form [formGroup]="loginForm" (ngSubmit)="handleForm()">
 

 
  <div class="form-item">
    <label for="email">email</label>
    <input formControlName="email" type="email" class="form-control" id="email">
  </div>

  <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
  class="alert alert-danger p-1 small w-50 mx-auto">

   <p class="mb-0" *ngIf="loginForm.get('email')?.getError('required')">email is requird</p>
   <p  class="mb-0" *ngIf="loginForm.get('email')?.getError('minlength')">email invalid format</p>
  </div>


  <div class="form-item">
    <label for="password">password</label>
    <input formControlName="password" type="password" class="form-control" id="password">
  </div>

  <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
  class="alert alert-danger p-1 small w-50 mx-auto">
   <p class="mb-0" *ngIf="loginForm.get('password')?.getError('required')">password is requird</p>
   <p  class="mb-0" *ngIf="loginForm.get('password')?.getError('pattern')">password must be at least 6 chars</p>
  </div>

  <button  [disabled]="loginForm.invalid" class="main-btn mt-2">
    Login
    <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
</button>
    </form>
    <div *ngIf="errMessage" class="alert alert-danger p-1 w-50 mx-auto mb-0 text-center">{{errMessage}}</div>
</section>