<nav #navBar
    class="navbar navbar-expand-md navbar-light bg-light fixed-top"
>
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img src="./assets/images/freshcart-logo.svg" alt="fresh cart logo" >
        </a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
             
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="active-link" routerLink="/home">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="active-link" routerLink="/products">products</a>
                </li>
                
            
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="active-link" routerLink="/categories">categories</a>
                </li>
            </ul>
          

            <ul class="navbar-nav ms-auto mt-2 align-items-center mt-lg-0">

               
             
                <li class="nav-item">
                    <a class="nav-link position-relative"   routerLink="/cart">
                        <i class="fas fa-cart-shopping fa-2x text-main"></i>
                        <span class="badge bg-info position-absolute top-0 end-0">{{cartNum}}</span>
                    </a>
                </li>
                <li class="nav-item d-flex gap-3  me-3 ">
                
                       <i class="fab fa-facebook"></i>
                       <i class="fab fa-instagram"></i>
                       <i class="fab fa-tiktok"></i>
                       <i class="fab fa-twitter"></i>
                       <i class="fab fa-youtube"></i>
                   
                </li>
                <li class="nav-item">
                <span (click)="signOut()" role="button">SignOut</span>
             </li>
               
            </ul>
          
        </div>
    </div>
</nav>
